.login-container {
  text-align: center;
}

.btn-login {
  background: none;
  border: 1px solid #00ff66;
  color: #00ff66;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  font-family: "Courier New", monospace;
  transition: 0.3s;
}

.btn-login:hover {
  background: #00ff66;
  color: black;
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #111;
  border: 2px solid #00ff66;
  padding: 20px;
  width: 350px;
  border-radius: 6px;
  text-align: center;
}

.btn-close {
  float: right;
  background: none;
  border: none;
  color: #00ff66;
  font-size: 20px;
  cursor: pointer;
}

.login-message {
  margin-top: 10px;
  color: #00ff66;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  background: #222;
  border: 1px solid #00ff66;
  color: white;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background: #00ff66;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
